.header{
    padding: 36px 0 24px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}
.navbar__logo-link{
    font-family: var(--second-font);
    font-size: 24px;
    letter-spacing: -0.01em;
}
.navbar__menu-list{
    display: flex;
    column-gap: 45px;
    flex-wrap: wrap;
}
.navbar__menu-link{
    font-size: 15px;
    line-height: 173%;
    letter-spacing: -0.01em;
    &:hover{
        color: var(--accent-color);
    }
}
.navbar__basket-btn{
    position: relative;
    display: flex;
    align-items: center;
}
.navbar__basket-number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.12em;
    color: var(--white-color);
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    background-color: var(--green-color);
    border-radius: 50%;
    position: absolute;
    top: -24px;
    right: 0;
}
.navbar__basket-img{
    margin-right: 30px;
}